/* Basic reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffe680;
    color: #333;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

/* Common button style */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Input field sizes in table */
#foodscheduletable input[type="number"] {
    width: 60px; /* Smaller width for quantity and extras columns */
    padding: 5px;
}

#foodscheduletable input[type="text"]{
    width: 100px; /* Smaller width for quantity and extras columns */
    padding: 5px;
}
/* Search section styling */
#searchSection {
    margin: 15px;
    font-size: 1em;
}

#searchBar{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1d1d1; /* Lighter gray border */
    border-radius: 5px;
    font-size: 1em;
}

#participantDropdown {
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-bottom: 20px;
}

#totalParticipants {
    margin: 20px;
    font-size: 1em;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Popup styling */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.popup-content input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    font-size: 1em;
}

.popup h2 {
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

.popup-content button {
    width: 45%;
    margin: 5px;
}

#editParticipantPopup button {
    display: block;
    width: 80%;
    margin: 10px auto;
}

/* Table styling */
#fsms-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.date-save-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#foodscheduletable {
    width: 100%;
    border-collapse: collapse;
}

#foodscheduletable th {
    background-color: #4CAF50; /* Green header background */
    color: white;              /* White text for contrast */
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#foodscheduletable th, #foodscheduletable td {
    padding: 8px;
    text-align: center;
    border: 1.5px solid #888; /* Bolder border */
}

#dateField {
   padding: 5px;
   font-size: 1em;
}

/* Style for settings icon positioned in the top right corner */
.settings-icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 120px;
    z-index: 100;
}

/* Style for the settings popup */
.settings-popup {
    display: none;
    position: absolute;
    top: 40px; /* Adjusts popup position below the settings icon */
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    z-index: 101;
}

.settings-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-popup li {
    padding: 8px;
    cursor: pointer;
}

.settings-popup li:hover {
    background-color: #f0f0f0;
}


.export-options-popup, .import-options-popup {
    position: absolute;
    top: 80px; /* Adjust this to position below the Export option */
    right: 10px;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1001;
}

.export-options-popup ul, .import-options-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.export-options-popup ul li, .import-options-popup ul li {
    padding: 5px 10px;
    cursor: pointer;
}

#logoutButton {
    padding: 8px 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;  /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
}

#passwordModal{
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 2000;
}

#settingsPassword{
    padding: 5px; 
    width: 100%; 
    margin-bottom: 10px;
}

#cancelPasswordBtn{
    padding: 5px 10px; 
    margin-right: 5px;
}

/* Footer styles */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}
